@import "tailwindcss";

@theme {
    --color-primary: #913e86;
    --color-primary-opacity: rgba(145, 62, 134, 0.5);
    --color-secondary: #420c2e;
    --color-secondary-opacity: rgba(66, 12, 46, 0.6);
    --text-mobile: 0.75rem;
    --text-desktop: 1rem;
}