@import "tailwindcss";

@theme {
    --color-primary: #913e86;
    --color-secondary: #420c2e;
    --text-mobile: 0.75rem;
    --text-desktop: 1rem;
}

.button {
    @apply hover:bg-primary hover:text-white transition-colors px-2 py-1 rounded-4xl cursor-pointer;
}